<div>
    <h3 class="">Login</h3>
        <form id="" class="">
        <label for="title" class="">Username:</label>
        <input type="text" id="" name="" class="" value="{{post.title}}" required>

        <label for="content" class="">Password:</label>
        <input type="" id="" name="" class="" value="{{post.content}}" required>
        {{!-- <textarea id="content" name="content" rows="4" required></textarea> --}}

        <button type="submit">Login</button>
        <a class="" href="">Sign Up</a>
    </form>
</div>

<script src=""></script> 