<div>
    <h3 class="">Creat a post</h3>
        <form action="/create-post" method="post">
        <label for="title" class="">Title:</label>
        <input type="text" id="title" name="title" class="" value="{{post.title}}" required>

        <label for="content" class="">Content:</label>
        <input type="" id="" name="" class="" value="{{post.content}}" required>
        <textarea id="content" name="content" rows="4" required></textarea>

        <button type="submit">Create Post</button>
    </form>
</div>

<script src=""></script> 